body {
    text-align: center;
    font-size: 128%;
}



.header {
    font-size: 4rem;
    font-family: cursive;
}

.topH {
    background: repeating-linear-gradient(45deg, #087, transparent 100px);
}

.top {
    width: 51%;
    border:outset;
    padding: 4%;
    position: relative;
    background: linear-gradient(45deg, #09B, transparent);
}

.mid {
    width: 51%;
    border: outset;
    padding: 4%;
    position: relative;
    background: linear-gradient(45deg, #FF2, transparent);
}

.btm {
    width: 51%;
    border: outset;
    padding: 4%;
    position: relative;
    background: linear-gradient(45deg, #5EE, transparent);
}

#img-caption {
    padding-bottom: 2%;
}

#img-div {
    width: 100%;
    height: auto;
    background: radial-gradient(#6E2, transparent);
}

#image {
    width: 100%;
height: auto;
max-width: 625px;
margin-left: auto;
margin-right: auto;
display: block;
}

#tribute-info {
    display: flex;
}